body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: #997492 url('../images/background.svg') no-repeat center center fixed;
  background-size: cover;
  /* #845d74 */
}
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
}
input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}
body, div, h1, h2, h3, h4, h5 {
  margin: 0; padding: 0;
}
.container {
  position: relative;
  margin: 0 15px;
}
@media (min-width: 1200px) {
  .container {
      width: 1170px;
      margin: 0 auto;
  }
}
.bg--black:after {
  content: " ";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:  rgba(60,10,30,0.6);
  z-index: 1;
}
.bg--white:after {
  content: " ";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 200, 220, 0.6);
  z-index: 1;
}

/* -------------------------- */
/* --------- HEADER --------- */
/* -------------------------- */
#header--login {
  position: relative;
  text-align: center;
  color: white;
  padding: 150px 0 72px;
}
#header--default {
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: #AB4164;
  color: white;
  z-index: 10;
  box-shadow: 0 0 4px rgba(60,10,30,0.6);
}
/* logo app */
#logo-app {
  margin-bottom: 24px;
}
/* logo tauli */
#logo-tauli {
  width: 150px;
  padding: 15px 15px 15px 0;
}
#header--login #logo-tauli {
  position: absolute;
  top: 0;
  left: -15px;
  background-color: #997492;
  padding: 15px;
}
@media (min-width: 767px) and (max-width: 1200px) {
  #logo-tauli {
      width: 175px;
  }
}
@media (min-width: 1200px) {
  #logo-tauli {
      width: 225px;
  }
}
/* sortir */
#logout {
  position: absolute;
  top: 25px;
  right: 10px;
  width: 30px;
  height: 30px;
}
#logout:before {
  position: absolute;
  top: 0;
  display: flex;
  content: url('../images/icon-config.svg');
  opacity: 0.8;
}
#logout:hover:before {
  opacity: 1;
}
#logout span {
  display: none;
}

/* menu principal */
#main-nav {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  background: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  height: 74px;
  z-index: 10;
  box-shadow: 0 0 4px rgba(60,10,30,0.6);
}
#main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 1em;
}
#main-nav li {
  position: relative;
  margin: 0 4px;
  min-width: 120px;
}
#main-nav li a {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 44px 10px 10px;
  color: #898989;
}
#main-nav li a.selected,
#main-nav li a:hover {
  color: #AB4164;
}
#main-nav #list:before {
  position: absolute;
  top: 16px;
  display: flex;
  content: url('../images/icon-list.svg');
}
#main-nav #list:hover:before,
#main-nav #list.selected:before {
  content: url('../images/icon-list-on.svg');
}
#main-nav #add:before {
  position: absolute;
  top: -72px;
  margin: 0 auto;
  content: url('../images/icon-add.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  background: #898989;
  height: 105px;
  width: 105px; /* 56px; */
  border-radius: 50%;
}
#main-nav #add:hover:before,
#main-nav #add.selected:before {
  background: #AB4164; /* #F0A9C3; light pink */
}
#main-nav #mylist:before {
  position: absolute;
  top: 16px;
  display: flex;
  content: url('../images/icon-mylist.svg');
}
#main-nav #mylist:hover:before,
#main-nav #mylist.selected:before {
  content: url('../images/icon-mylist-on.svg');
}

@media (max-width: 767px) {
  #main-nav__add {
    margin-top: -40px;
  }
  #main-nav__add li a {
    padding-top: 84px;
  }
  #main-nav #add:before {
    top: -32px;
  }
}

@media (min-width: 767px) {
  #main-nav {
    position: fixed;
    max-width: 835px;
    margin: 0 auto;
    top: 8px;
    left: 260px;
    right: 75px;
    background: transparent;
    height: 70px;
    z-index: 10;
    box-shadow: none;
  }
  #main-nav li a {
    color: white;
    opacity: 0.8;
    padding-top: 46px;
  }
  #main-nav li a.selected,
  #main-nav li a:hover {
    color: white;
    opacity: 1;
  }
  #main-nav #list:before {
    content: url('../images/icon-list-white.svg');
  }
  #main-nav #list:hover:before,
  #main-nav #list.selected:before {
    content: url('../images/icon-list-white.svg');
  }
  #main-nav #mylist:before {
    content: url('../images/icon-mylist-white.svg');
  }
  #main-nav #mylist:hover:before,
  #main-nav #mylist.selected:before {
    content: url('../images/icon-mylist-white.svg');
  }
  #main-nav #add:before {
    position: absolute;
    top: 16px;
    margin: 0 auto;
    content: url('../images/icon-add-white.svg');
    background: transparent;
    width: 24px;
    height: 24px;
  }
  #main-nav #add:hover:before,
  #main-nav #add.selected:before {
    content: url('../images/icon-add-white.svg');
  }
}


/* -------- DEEP HEADER --------- */
/* ------------------------------ */
#header--deep {
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: #AB4164;
  color: white;
  z-index: 10;
  box-shadow: 0 0 4px rgba(60,10,30,0.6);
}
#header--deep #logo-tauli {
  margin-left: 70px;
}
#back {
  position: absolute;
  top: 25px;
  left: 10px;
  width: 30px;
  height: 30px;
}
#back:before {
  position: absolute;
  top: 0;
  display: flex;
  content: url('../images/icon-back.svg');
}
#back span {
  display: none;
}

/* ------------------------ */
/* -------- LOGIN --------- */
/* ------------------------ */
#login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
#login-form label {
  display: none;
}
#login-form input {
  border: none;
  background-color: rgba(242,251,255,0.85);
  font-size: 16px;
  border-radius: 12px;
  padding: 17px 18px;
  margin-bottom: 18px;
}
#login-form input:focus {
  background-color: rgba(242,251,255,1.0);
}
#login {
  color: white;
  border: 1px solid #AB4164;
  background-color: rgba(171,65,100,0.8);
  font-size: 16px;
  border-radius: 12px;
  padding: 17px 18px;
}
#login:hover {
  background-color: rgba(171,65,100,1.0);
  cursor: pointer;
}
.error-message {
  position: relative;
  border-radius: 12px;
  color: rgba(171,65,100,0.95);
  background: rgba(255,255,255, 0.6);
  padding: 10px 20px 10px 46px;
  margin-bottom: 20px;
  box-shadow: 0 0 4px rgba(60,10,30,0.6);
}
.error-message:before {
  content: "!";
  font-size: 36px;
  position: absolute;
  top: 6px;
  left: 20px;
}
